@font-face {
	font-family: NotoSerifDisplay;
	src: url('../fonts/NotoSerifDisplay-Regular.ttf');
}

@font-face {
	font-family: NotoSerifDisplay-Bold;
	src: url('../fonts/NotoSerifDisplay-Bold.ttf');
}


@font-face {
	font-family: NotoSerifDisplay-Italic;
	src: url('../fonts/NotoSerifDisplay-Italic.ttf');
}



html, body {
	height: 100%;
	/*background-image: url('../img/bibl.png');*/
	background-image: url('../img/lin.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	font-family: 'NotoSerifDisplay', serif;
	color: white;
	user-select:none;
	}


h1 {
	font-family: 'NotoSerifDisplay-Bold', serif;
	font-size: 4vw;
}

h3 {
	font-size: 2vw;
	color: lightgray;
	font-family: 'NotoSerifDisplay-Italic';
}