@font-face {
	font-family: NotoSerifDisplay;
	src: url('../fonts/NotoSerifDisplay-Regular.ttf');
}

@font-face {
	font-family: NotoSerifDisplay-Bold;
	src: url('../fonts/NotoSerifDisplay-Bold.ttf');
}


html, body {
	height: 100%;
	background-image: url('../img/bibl.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	font-family: 'NotoSerifDisplay', serif;
	color: white;
	}